.dashboard-page {
  background-color: #f4f5fa;
  display: flex;
}
.sidebar {
  width: 20%;
  height: 500px;
  padding: 15px;
}
.content {
  width: 80%;
  padding: 20px;
}

.dash-header {
  display: flex;
  justify-content: space-between;
}
.search-box {
  position: relative;
}
.search-box span {
  position: absolute;
  left: 8px;
  top: 7px;
}
input.input-search {
  padding: 6px 31px;
  border: none;
  border-radius: 15px;
  border: 1px solid gray;
}
input.input-search:focus {
  border: 1px solid violet;
}
.user-box{
  display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.user-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-active{
  height: 12px;
  width: 12px;
  content: "";
  background: #55cc67;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 29px;
  right: 3px;
}