
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eb5757;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 50%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7.2px;
}
.menu{
    width: 50%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: .4s;
    border-radius: 5px;
}

.menu ul li a:hover{
    background-color: black;
}