<div class="dashboard-cmp">
  <div class="row-1">
    <div class="congrate">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
    <div class="static-card">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row-1">
    <div class="congrate">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
    <div class="congrate">
      <mat-card>
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
