/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center_wr{
    width: 1200px;
    margin: 0 auto;
}
.green{
    background-color: green !important;
}
.gray{
    background-color: gray !important;
}
.voilet{
    background-color: violet !important;
}
.default{
    background-color: #ffb101 !important;
}